Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
	"package.json": "pnpm sort-package-json",
	"**/*.{js,jsx,ts,tsx}": ["pnpm eslint --fix", "pnpm prettier --write"],
	"**/*.{md,mdx,json,yml,yaml}": ["pnpm prettier --write"]
}

fix(api): remove obsolete paidModeEnabled (#358)
  apps/api/src/routes/organization.ts
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(db): remove uuid-ossp extension creation
  packages/db/init/init.sql
Due: none

feat(infra): simplify environment configuration
  apps/api/src/index.ts
  apps/docs/content/self-host.mdx
  apps/gateway/src/index.ts
  apps/ui/app.config.ts
  apps/ui/src/lib/auth-client.ts
  infra/docker-compose.unified.yml
  packages/auth/src/auth.ts
Due: pnpm eslint --fix, pnpm prettier --write

ci(workflows): pass API_URL as build argument
  .github/workflows/images.yml
Due: pnpm prettier --write

ci(workflows): remove platform-specific builds in images.yml
  .github/workflows/images.yml
Due: pnpm prettier --write

fix(infra): remove obsolete API proxy configuration
  infra/nginx-unified.conf
Due: none

fix(api): validate JSON payload in organization routes
  apps/api/src/routes/organization.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(api): use req.valid for body parsing
  apps/api/src/routes/chat.ts
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.ts
  apps/api/src/routes/organization.ts
  apps/api/src/routes/projects.ts
  apps/api/src/routes/subscriptions.ts
  apps/api/src/routes/user.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(api): cast provider to `any` in key validation
  apps/api/src/routes/keys-provider.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(api): validate provider ID before key validation
  apps/api/src/routes/keys-provider.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(api): use createRoute for completion endpoint
  apps/api/src/routes/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: format
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(api): use typed body parsing in API routes (#365)
  apps/api/src/routes/chat.ts
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.ts
  apps/api/src/routes/organization.ts
  apps/api/src/routes/projects.ts
  apps/api/src/routes/subscriptions.ts
  apps/api/src/routes/user.ts
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(infra): correct initdb volume path in prod config
  infra/docker-compose.prod.yml
Due: pnpm prettier --write

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: pnpm prettier --write

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

chore: format
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: pnpm prettier --write

docs(repo): add CLAUDE.md with development guidelines
  CLAUDE.md
Due: pnpm prettier --write

ci: claude PR Assistant workflow (#366)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: pnpm prettier --write

docs(repo): update testing instructions to replace `pnpm test`
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: pnpm prettier --write

fix(db): standardize PostgreSQL port to 5432
  CLAUDE.md
  docker-compose.yml
  package.json
  packages/db/drizzle.config.ts
  packages/db/src/db.ts
  packages/db/src/migrate.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

ci(scripts): add test:prepare for DB/Redis setup in tests
  package.json
Due: pnpm sort-package-json, pnpm prettier --write

ci(scripts): sync DB on test:prepare execution
  package.json
Due: pnpm sort-package-json, pnpm prettier --write

ci(workflows): update permissions in Claude workflow
  .github/workflows/claude.yml
Due: pnpm prettier --write

ci(workflows): update allowed tools for Claude workflow
  .github/workflows/claude.yml
Due: pnpm prettier --write

test(gateway): use options arg in e2e tests
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

test: fix test options argument for Vitest 3 (#367)
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

ci(workflows): add author check in Claude workflow
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

ci(workflows): update cache scope in images workflow
  .github/workflows/images.yml
Due: pnpm prettier --write

feat(api): add projectId filter to activity
  apps/api/src/routes/activity.spec.ts
  apps/api/src/routes/activity.ts
Due: pnpm eslint --fix, pnpm prettier --write

ci(workflows): add concurrency control to workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/images.yml
Due: pnpm prettier --write

fix(api): update token prefix based on environment
  apps/api/src/routes/keys-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

ci(scripts): add prepare-codex script for CI setup
  package.json
Due: pnpm sort-package-json, pnpm prettier --write

fix(api): increase maskedToken visibility length
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): add reusable token masking helper
  apps/api/src/lib/maskToken.ts
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: format
  apps/api/src/routes/activity.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(apikey): unify token masking logic (#369)
  apps/api/src/lib/maskToken.ts
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): add project filter for activity (#368)
  apps/api/src/routes/activity.spec.ts
  apps/api/src/routes/activity.ts
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write
