Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
	"package.json": "pnpm sort-package-json",
	"**/*.{js,jsx,ts,tsx}": ["pnpm eslint --fix", "pnpm prettier --write"],
	"**/*.{md,mdx,json,yml,yaml}": ["pnpm prettier --write"]
}

ci(workflows): update author check for Claude commits
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

ci(workflows): refine Claude review prompt and tools
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

ci(workflows): improve review prompt clarity
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

ci(workflows): refine Claude commit author check logic
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

ci(workflows): update allowed tools for PR reviews
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

ci(workflows): update allowed tools for code reviews
  .github/workflows/claude-code-review.yml
Due: pnpm prettier --write

feat(ui): centralize API base URL in env file
  apps/ui/src/components/Chat.tsx
  apps/ui/src/hooks/useChats.ts
  apps/ui/src/routes/playground.tsx
Due: pnpm eslint --fix, pnpm prettier --write

ci(workflows): update caching scopes for images builds
  .github/workflows/images.yml
Due: pnpm prettier --write

fix(playground): centralize API base URL in env file (#370)
  apps/ui/src/components/Chat.tsx
  apps/ui/src/hooks/useChats.ts
  apps/ui/src/routes/playground.tsx
Due: pnpm eslint --fix, pnpm prettier --write

test(api): add assertions for usage token properties
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(chat): add usage metadata token counts
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(chat): add usage metadata token counts (#371)
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(changelog): implement changelog feature with routing and UI components
  apps/ui/package.json
  apps/ui/src/components/changelog/app-header.tsx
  apps/ui/src/components/changelog/changelog.tsx
  apps/ui/src/components/changelog/index.ts
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/providers/hero.tsx
  apps/ui/src/content/changelog/2025-05-01-gateway-v1-launch.md
  apps/ui/src/content/changelog/2025-06-11-deepseek-discount-and-mistral-models.md
  apps/ui/src/content/changelog/2025-06-14-self-hosting-docs-upgrade.md
  apps/ui/src/content/changelog/2025-06-15-pro-subscription-launch.md
  apps/ui/src/lib/data/changelog-loader.ts
  apps/ui/src/lib/utils/markdown.ts
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/changelog/$slug.tsx
  apps/ui/src/routes/changelog/index.tsx
  apps/ui/src/routes/providers/$id.tsx
  apps/ui/static/changelog/cloudrift.png
  apps/ui/static/changelog/pricing.png
  apps/ui/static/changelog/self-host.png
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

docs(changelog): remove redundant self-hosting title
  apps/ui/src/content/changelog/2025-06-14-self-hosting-docs-upgrade.md
Due: pnpm prettier --write

docs(changelog): update self-hosting entry with Docker details
  apps/ui/src/content/changelog/2025-06-14-self-hosting-docs-upgrade.md
Due: pnpm prettier --write

feat(changelog): integrate content collections for changelog management
  apps/ui/.gitignore
  apps/ui/app.config.ts
  apps/ui/content-collections.ts
  apps/ui/package.json
  apps/ui/src/components/changelog/changelog.tsx
  apps/ui/src/lib/data/changelog-loader.ts
  apps/ui/src/lib/utils/markdown.ts
  apps/ui/src/routes/changelog/$slug.tsx
  apps/ui/src/routes/changelog/index.tsx
  apps/ui/tsconfig.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

refactor(changelog): enhance type safety and structure in changelog routes
  apps/ui/src/routes/changelog/$slug.tsx
  apps/ui/src/routes/changelog/index.tsx
  apps/ui/src/types/content-collections.d.ts
  apps/ui/tsconfig.json
Due: pnpm eslint --fix, pnpm prettier --write

feat(changelog): implement changelog (#373)
  apps/ui/.gitignore
  apps/ui/app.config.ts
  apps/ui/content-collections.ts
  apps/ui/package.json
  apps/ui/src/components/changelog/app-header.tsx
  apps/ui/src/components/changelog/changelog.tsx
  apps/ui/src/components/changelog/index.ts
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/providers/hero.tsx
  apps/ui/src/content/changelog/2025-05-01-gateway-v1-launch.md
  apps/ui/src/content/changelog/2025-06-11-deepseek-discount-and-mistral-models.md
  apps/ui/src/content/changelog/2025-06-14-self-hosting-docs-upgrade.md
  apps/ui/src/content/changelog/2025-06-15-pro-subscription-launch.md
  apps/ui/src/lib/utils/markdown.ts
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/changelog/$slug.tsx
  apps/ui/src/routes/changelog/index.tsx
  apps/ui/src/routes/providers/$id.tsx
  apps/ui/src/types/content-collections.d.ts
  apps/ui/static/changelog/cloudrift.png
  apps/ui/static/changelog/pricing.png
  apps/ui/static/changelog/self-host.png
  apps/ui/tsconfig.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

refactor(changelog): update styles for consistency and readability
  apps/ui/src/components/changelog/app-header.tsx
  apps/ui/src/components/changelog/changelog.tsx
  apps/ui/src/lib/utils/markdown.ts
  apps/ui/src/routes/changelog/$slug.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(changelog): update styles for consistency and readability (#374)
  apps/ui/src/components/changelog/app-header.tsx
  apps/ui/src/components/changelog/changelog.tsx
  apps/ui/src/lib/utils/markdown.ts
  apps/ui/src/routes/changelog/$slug.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add llama-4-maverick-17b support
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add llama-4-maverick-17b support (#375)
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write
