Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

chore: lock
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: format
  package.json
Due: pnpm sort-package-json, pnpm prettier --write

chore: fix params
  apps/api/src/routes/keys-api.spec.ts
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.spec.ts
  apps/api/src/routes/keys-provider.ts
  apps/api/src/routes/organization.ts
  apps/api/src/routes/payments.ts
  apps/api/src/routes/projects.ts
  apps/api/src/routes/user.ts
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): centralize Stripe initialization logic
  apps/ui/src/components/credits/payment-methods-management.tsx
  apps/ui/src/components/credits/top-up-credits-dialog.tsx
  apps/ui/src/lib/stripe.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): centralize Stripe initialization logic (#179)
  apps/ui/src/components/credits/payment-methods-management.tsx
  apps/ui/src/components/credits/top-up-credits-dialog.tsx
  apps/ui/src/lib/stripe.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add models API with routing and tests
  apps/gateway/openapi.json
  apps/gateway/src/index.ts
  apps/gateway/src/models/index.ts
  apps/gateway/src/models/models.spec.ts
  apps/gateway/src/models/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): track payments in organization_action table
  apps/api/src/stripe.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add models API with routing and tests (#180)
  apps/gateway/openapi.json
  apps/gateway/src/index.ts
  apps/gateway/src/models/index.ts
  apps/gateway/src/models/models.spec.ts
  apps/gateway/src/models/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: broken links
  apps/ui/src/routes/dashboard/_layout/index.tsx
Due: pnpm eslint --fix, pnpm prettier --write

ci: fix script execution in workflow run.yml
  .github/workflows/run.yml
Due: pnpm prettier --write

fix: broken links (#182)
  apps/ui/src/routes/dashboard/_layout/index.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Update run.yml
  .github/workflows/run.yml
Due: pnpm prettier --write

ci: fix script execution in workflow run.yml (#183)
  .github/workflows/run.yml
Due: pnpm prettier --write

chore: regenerate migrations
  packages/db/migrations/1747930961_fine_typhoid_mary.sql
  packages/db/migrations/1747945267_boring_tenebrous.sql
  packages/db/migrations/1748033482_light_colleen_wing.sql
  packages/db/migrations/meta/1747945267_snapshot.json
  packages/db/migrations/meta/1748033482_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

chore: regenerate migrations (#184)
  packages/db/migrations/1747930961_fine_typhoid_mary.sql
  packages/db/migrations/1747945267_boring_tenebrous.sql
  packages/db/migrations/1748033482_light_colleen_wing.sql
  packages/db/migrations/meta/1747945267_snapshot.json
  packages/db/migrations/meta/1748033482_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

chore: migrations
  packages/db/migrations/1748034305_clear_white_tiger.sql
  packages/db/migrations/meta/1748034305_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

feat(api): track payments in organization_action table (#181)
  apps/api/src/stripe.ts
  packages/db/migrations/1748034305_clear_white_tiger.sql
  packages/db/migrations/meta/1748034305_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(chat): remove redundant usedMode field logic
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/logs.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(logs): split LogInsertData for enhanced clarity
  apps/gateway/src/lib/logs.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: handle anthropic token usage in streaming responses
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): update error messages for provider key issues
  apps/gateway/src/api.spec.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): update error messages for provider key issues (#187)
  apps/gateway/src/api.spec.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add google ai studio provider support
  .github/workflows/run.yml
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
  packages/models/src/models.ts
  packages/models/src/provider-api.ts
  packages/models/src/providers.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: correct google ai studio authentication to use query params
  apps/gateway/src/chat/chat.ts
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: stuff
  apps/gateway/src/api.e2e.ts
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(chat): enhance provider support with response transformation
  apps/gateway/src/chat/chat.ts
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: added dashboard skeleton and replaced few hooks with codegen
  apps/ui/src/components/dashboard/activity-chart.tsx
  apps/ui/src/components/dashboard/dashboard-loading.tsx
  apps/ui/src/components/dashboard/log-card.tsx
  apps/ui/src/components/dashboard/overview.tsx
  apps/ui/src/components/usage/cache-rate-chart.tsx
  apps/ui/src/components/usage/cost-breakdown-chart.tsx
  apps/ui/src/components/usage/error-rate-chart.tsx
  apps/ui/src/components/usage/model-usage-table.tsx
  apps/ui/src/components/usage/usage-chart.tsx
  apps/ui/src/hooks/useActivity.ts
  apps/ui/src/lib/types.ts
  apps/ui/src/routes/dashboard/_layout/index.tsx
  apps/ui/src/types/activity.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: revert
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): allow custom host for dev server
  apps/ui/app.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: logs query
  apps/ui/src/components/dashboard/recent-logs.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat: transform anthropic responses to openai format
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: update HTTP examples to use curl with env var
  README.md
  apps/docs/content/index.mdx
  apps/ui/src/components/landing/code-example.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): correct env variable names for API keys
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: consider project mode in auto routing logic
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor: use providers from @openllm/models in auto routing
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): correct env variable names for API keys (#194)
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: implement together.ai provider and enhance inference.net
  apps/gateway/src/api.spec.ts
  apps/gateway/src/chat/chat.ts
  packages/models/src/models.ts
  packages/models/src/providers.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: revamp e2e tests to use test.each for all models
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(models): remove outdated model definitions
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm sort-package-json: any of: package.json
  pnpm eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json,yml,yaml})
