Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(auth): improve API_URL handling for flexibility
  .env.example
  apps/api/src/index.ts
  apps/docs/content/self-host.mdx
  apps/ui/package.json
  apps/ui/src/lib/auth-client.ts
  docker-compose.prod.yml
  packages/auth/src/auth.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat: replace passkey list API with authClient.useListPasskeys
  apps/ui/src/components/passkeys/add-passkey.ts
  apps/ui/src/components/passkeys/passkey-list.tsx
  apps/ui/src/routes/dashboard/_layout/settings.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(api): reorder app routes for proper middleware execution
  apps/api/src/index.ts
  apps/docs/content/self-host.mdx
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix(api): update production API URL for consistency
  apps/api/src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: remove unused /user/me/passkeys API route
  apps/api/src/routes/user.ts
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: implement lazy loading for Stripe SDK
  apps/ui/src/components/credits/payment-methods-management.tsx
  apps/ui/src/components/credits/top-up-credits-dialog.tsx
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/onboarding-wizard.tsx
  apps/ui/src/lib/stripe.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(auth): enhance cookie config for cross-domain support
  apps/api/src/index.ts
  packages/auth/src/auth.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(auth): support multiple origin URLs and enhance headers
  apps/api/src/index.ts
  packages/auth/src/auth.ts
Due: pnpm eslint --fix, pnpm prettier --write

Discard changes to pnpm-lock.yaml
  pnpm-lock.yaml
Due: pnpm prettier --write

Discard changes to apps/ui/package.json
  apps/ui/package.json
Due: pnpm sort-package-json, pnpm prettier --write

refactor: replace fetch calls with hooks for consistency
  apps/ui/src/hooks/useDefaultProject.ts
  apps/ui/src/hooks/useOrganization.ts
  apps/ui/src/hooks/useUser.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(deployment): add self host docs & self-host fixes (#269)
  .dockerignore
  .env.example
  Dockerfile
  apps/api/src/index.ts
  apps/api/src/posthog.ts
  apps/docs/content/self-host.mdx
  apps/ui/src/lib/auth-client.ts
  apps/ui/src/lib/env.ts
  apps/ui/src/lib/fetch-client.ts
  docker-compose.prod.yml
  packages/auth/src/auth.ts
  turbo.json
Due: pnpm eslint --fix, pnpm prettier --write

fix: correct hook return types and mutation parameters
  apps/ui/src/hooks/useDefaultProject.ts
  apps/ui/src/hooks/useOrganization.ts
  apps/ui/src/routes/dashboard/_layout/settings.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(stripe): switch to pure Stripe import
  apps/ui/src/lib/stripe.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: query client clear before redirecting
  apps/ui/src/hooks/useUser.ts
  apps/ui/src/routes/dashboard/_layout/index.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(api): clean up unused variables and redundant logic
  apps/api/src/routes/keys-provider.ts
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
  apps/ui/src/components/api-keys/create-api-key-dialog.tsx
  apps/ui/src/components/landing/animated-beam.tsx
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/provider-key-step.tsx
  eslint.config.mjs
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: query client clear before redirecting (#271)
  apps/ui/src/hooks/useUser.ts
  apps/ui/src/routes/dashboard/_layout/index.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(api): clean up unused variables and redundant logic (#273)
  apps/api/src/routes/keys-provider.ts
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
  apps/ui/src/components/api-keys/create-api-key-dialog.tsx
  apps/ui/src/components/landing/animated-beam.tsx
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/provider-key-step.tsx
  eslint.config.mjs
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): display model prices per million tokens
  apps/ui/src/components/models/models-list.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat: add auto top-up functionality for credits
  apps/api/src/routes/organization.ts
  apps/api/src/routes/payments.ts
  apps/gateway/src/worker.ts
  apps/ui/src/components/credits/auto-topup-settings.tsx
  apps/ui/src/routes/dashboard/_layout/settings.tsx
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor: use existing organization API for auto top-up settings
  apps/api/src/routes/organization.ts
  apps/api/src/routes/payments.ts
  apps/gateway/src/worker.ts
  apps/ui/src/components/credits/auto-topup-settings.tsx
  apps/ui/src/hooks/useOrganization.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add database migration and update generated types
  apps/gateway/package.json
  apps/ui/src/lib/api/v1.d.ts
  packages/db/migrations/1748821917_fat_gorgon.sql
  packages/db/migrations/meta/1748821917_snapshot.json
  packages/db/migrations/meta/_journal.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix(ui): update favicon URL to include a version parameter
  apps/ui/src/routes/__root.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(infra): update nginx fallback to return 404
  infra/nginx-static.conf
Due: none

feat: add CRUD routes for projects and organizations with soft delete
  apps/api/src/routes/activity.ts
  apps/api/src/routes/keys-api.ts
  apps/api/src/routes/keys-provider.ts
  apps/api/src/routes/logs.ts
  apps/api/src/routes/organization.ts
  apps/api/src/routes/projects.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: add database migration files for status fields
  packages/db/migrations/1748864236_friendly_slyde.sql
  packages/db/migrations/meta/1748864236_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

fix: update API types for new CRUD routes
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: require projectId parameter for API key operations
  apps/api/src/routes/keys-api.ts
  apps/ui/src/components/api-keys/api-keys-list.tsx
  apps/ui/src/components/api-keys/create-api-key-dialog.tsx
  apps/ui/src/components/onboarding/api-key-step.tsx
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): add prerendering for /dashboard route
  apps/ui/app.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add OpenAI-compatible Google AI provider
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/test-utils/test-helpers.ts
  apps/ui/src/components/onboarding/provider-key-step.tsx
  apps/ui/src/components/provider-keys/provider-keys-list.tsx
  packages/models/src/models.ts
  packages/models/src/provider-api.ts
  packages/models/src/providers.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: resolve streaming finishReason for google-openai-compat
  apps/gateway/src/chat/chat.ts
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: ensure finishReason set for google-openai-compat streaming
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(gateway): remove unused openapi.json and update scripts
  apps/gateway/openapi.json
  apps/gateway/package.json
Due: pnpm sort-package-json, pnpm prettier --write

chore(docs): update scripts for documentation generation
  apps/docs/package.json
Due: pnpm sort-package-json, pnpm prettier --write

chore(docs): regenerate APIPage components in docs
  apps/docs/content/(api)/v1/models.mdx
Due: pnpm prettier --write

chore(docs): update postinstall script for docs generation
  apps/docs/package.json
Due: pnpm sort-package-json, pnpm prettier --write

chore(docs): update API docs for models and chat endpoints
  apps/docs/content/(api)/v1/chat/completions.mdx
  apps/docs/content/(api)/v1/models.mdx
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/models/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add AWS Bedrock provider with meta.llama3-2-1b-instruct
  apps/gateway/src/test-utils/test-helpers.ts
  packages/models/src/models.ts
  packages/models/src/provider-api.ts
  packages/models/src/providers.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: add bedrock to envVarMap for API key lookup
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: filter bedrock models from e2e tests when no API key
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm sort-package-json: any of: package.json
  pnpm eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json,yml,yaml})
