Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat: replace ERROR with GATEWAY_ERROR and UPSTREAM_ERROR
  apps/gateway/src/lib/logs.spec.ts
  apps/gateway/src/lib/logs.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: new features icons
  apps/ui/src/components/landing/features.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore: new features icons (#243)
  apps/ui/src/components/landing/features.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): update pricing and add new GPT-4.1 models
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): update pricing and add new GPT-4.1 models (#244)
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): update static files output path in config
  apps/ui/app.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): update static files output path in config (#245)
  apps/ui/app.config.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add request ID tracking for parallel e2e tests
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/test-utils/test-helpers.ts
  package.json
  packages/db/src/schema.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix(dockerfile): add missing static file copy to nginx
  Dockerfile
Due: none

fix: add requestId to all insertLog calls and debug logs
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/logs.ts
  apps/gateway/src/worker.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: address linting issues in api.e2e.ts
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: new opengraph img
  apps/ui/static/opengraph.png
Due: none

fix: add migration for requestId field in log schema
  packages/db/migrations/1748467594_gray_jubilee.sql
  packages/db/migrations/meta/1748467594_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

chore: new opengraph img (#247)
  apps/ui/static/opengraph.png
Due: none

fix: update provider key tests to use request IDs
  apps/api/src/routes/keys-provider.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: better og image
  apps/ui/static/opengraph.png
Due: none

fix(routes): update social image URLs with cache buster
  apps/ui/src/routes/__root.tsx
Due: pnpm eslint --fix, pnpm prettier --write

Discard changes to package.json
  package.json
Due: pnpm sort-package-json, pnpm prettier --write

chore(dockerfile): add NODE_ENV production environment variable
  Dockerfile
Due: none

feat: add requestId to log table and request handling
  apps/gateway/src/chat/chat.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add generated migration files
  packages/db/migrations/1748518796_reflective_darkstar.sql
  packages/db/migrations/meta/1748518796_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

fix(api): handle errors with HTTPException middleware
  apps/api/src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(package): set NODE_ENV for e2e tests
  apps/api/src/routes/keys-provider.e2e.ts
  package.json
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(chat): modularize provider handling and logging
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(tests): remove special handling for specific model logs
  apps/api/src/routes/keys-provider.ts
  apps/gateway/src/api.e2e.ts
  package.json
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix(api): correct E2E test environment variable casing
  apps/api/src/routes/keys-provider.ts
  apps/gateway/src/api.e2e.ts
  package.json
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

chore(deps): update pnpm-lock and add gateway dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm prettier --write

refactor(models): centralize request body preparation logic
  apps/api/src/routes/keys-provider.ts
  apps/gateway/src/chat/chat.ts
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

test(api): enable e2e tests with real provider keys
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(db): add foreign key constraints for referential integrity
  apps/api/src/testing.ts
  apps/gateway/src/api.spec.ts
  packages/db/cleanup.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(models): add optional parameters handling per provider
  apps/api/src/routes/keys-provider.e2e.ts
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add migration files for foreign key constraints
  packages/db/migrations/1748523086_dry_pretty_boy.sql
  packages/db/migrations/meta/1748523086_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

feat(models): update validation models and endpoints
  apps/api/src/routes/keys-provider.e2e.ts
  packages/models/src/provider-api.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(tests): update remaining test files to respect foreign key constraints
  apps/gateway/src/api.e2e.ts
  packages/db/reset.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(ui): replace setQueryData with invalidateQueries
  apps/ui/src/components/api-keys/api-keys-list.tsx
  apps/ui/src/components/api-keys/create-api-key-dialog.tsx
  apps/ui/src/components/credits/payment-methods-management.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/components/provider-keys/provider-keys-list.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(tests): revert to Promise.all for parallel deletion with cascade constraints
  apps/api/src/testing.ts
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/api.spec.ts
  packages/auth/src/auth.spec.ts
  packages/db/reset.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: fix log request id migration
  packages/db/migrations/1748518796_reflective_darkstar.sql
  packages/db/migrations/1748524786_milky_proemial_gods.sql
  packages/db/migrations/meta/1748524786_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(schema): ensure requestId is non-null in log table
  packages/db/migrations/1748524919_breezy_changeling.sql
  packages/db/migrations/meta/1748524919_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm sort-package-json: any of: package.json
  pnpm eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json,yml,yaml})
