Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

Revert "fix: filter bedrock models from e2e tests when no API key"
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(ci): add AWS Bedrock API key to workflow secrets
  .github/workflows/run.yml
Due: pnpm prettier --write

feat(models): integrate AWS Bedrock and add model handling
  apps/gateway/package.json
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/bedrock.ts
  packages/models/src/models.ts
  packages/models/src/provider-api.ts
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(models): update and rename experimental models
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): update Meta model and format handling
  apps/gateway/src/lib/bedrock.ts
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(docs): simplify self-hosting guide for LLMGateway
  apps/docs/content/self-host.mdx
Due: pnpm prettier --write

feat: add faq and models page
  apps/ui/package.json
  apps/ui/src/components/landing/faq.tsx
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/globals.css
  apps/ui/src/lib/components/accordion.tsx
  apps/ui/src/lib/components/alert.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/index.tsx
  apps/ui/src/routes/models.tsx
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix: navbar docs
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(ui): simplify provider name normalization logic
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

docs(self-host): update Docker prerequisite in self-host guide
  apps/docs/content/self-host.mdx
Due: pnpm prettier --write

fix: add missing logos
  apps/ui/src/assets/models/google-studio-ai.svg
  apps/ui/src/assets/models/together-ai.svg
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat: add faq and models page (#287)
  apps/ui/package.json
  apps/ui/src/assets/models/google-studio-ai.svg
  apps/ui/src/assets/models/together-ai.svg
  apps/ui/src/components/landing/faq.tsx
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/globals.css
  apps/ui/src/lib/components/accordion.tsx
  apps/ui/src/lib/components/alert.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/index.tsx
  apps/ui/src/routes/models.tsx
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat: replace hardcoded docs URLs with DOCS_URL env var
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/lib/env.ts
  apps/ui/src/routes/dashboard/_layout/index.tsx
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore: added quick start with sdk examples too and added og image and more
  apps/docs/app/(home)/[[...slug]]/page.tsx
  apps/docs/app/docs-og/[...slug]/route.tsx
  apps/docs/content/quick-start.mdx
  apps/docs/lib/source.ts
  apps/docs/mdx-components.tsx
  apps/docs/package.json
  apps/docs/public/llms.txt
  apps/docs/scripts/getLLMText.ts
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

refactor(openapi): centralize configuration for OpenAPI docs
  apps/api/src/index.ts
  apps/api/src/scripts/generate-openapi.ts
  apps/gateway/src/index.ts
  apps/gateway/src/scripts/generate-openapi.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(openapi): centralize configuration for OpenAPI docs (#290)
  apps/api/src/index.ts
  apps/api/src/scripts/generate-openapi.ts
  apps/gateway/src/index.ts
  apps/gateway/src/scripts/generate-openapi.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: added quick start with sdk examples too and added og image & more (#289)
  apps/docs/app/(home)/[[...slug]]/page.tsx
  apps/docs/app/docs-og/[...slug]/route.tsx
  apps/docs/content/quick-start.mdx
  apps/docs/lib/source.ts
  apps/docs/mdx-components.tsx
  apps/docs/package.json
  apps/docs/public/llms.txt
  apps/docs/scripts/getLLMText.ts
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(docs): add script to generate LLM content
  apps/docs/package.json
  apps/docs/scripts/generate-llms.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix: use VITE_DOCS_URL prefix for environment variable
  apps/ui/src/lib/env.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(infra): add VITE_DOCS_URL support in build setup
  .env.example
  .github/workflows/images.yml
  Dockerfile
  docker-compose.prod.yml
  turbo.json
Due: pnpm prettier --write

fix(gateway): update UI URL and script environment var
  apps/gateway/package.json
  apps/gateway/src/index.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

docs(self-host): add documentation URL to access list
  apps/docs/content/self-host.mdx
  apps/docs/public/llms.txt
Due: pnpm prettier --write

fix(api-tests): add retries for CI environments
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(api-tests): add retries for CI environments (#292)
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(docs): replace llms.txt generation with route handler
  apps/docs/app/(home)/[[...slug]]/page.tsx
  apps/docs/app/llms.txt/get-llm-text.ts
  apps/docs/app/llms.txt/route.ts
  apps/docs/package.json
  apps/docs/public/llms.txt
  apps/docs/scripts/generate-llms.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(docs): dynamically generate llms.txt (#291)
  apps/docs/app/(home)/[[...slug]]/page.tsx
  apps/docs/app/llms.txt/get-llm-text.ts
  apps/docs/app/llms.txt/route.ts
  apps/docs/public/llms.txt
Due: pnpm eslint --fix, pnpm prettier --write

feat(docs): add VITE_DOCS_URL support for dynamic metadataBase
  .env.example
  apps/docs/app/(home)/[[...slug]]/page.tsx
  docker-compose.prod.yml
Due: pnpm eslint --fix, pnpm prettier --write

feat(docs): add VITE_DOCS_URL support for dynamic metadataBase (#293)
  .env.example
  apps/docs/app/(home)/[[...slug]]/page.tsx
  docker-compose.prod.yml
Due: pnpm eslint --fix, pnpm prettier --write

feat(gateway): add CORS middleware for API requests
  apps/gateway/src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add posthog to docs
  apps/docs/.env.example
  apps/docs/app/layout.tsx
  apps/docs/lib/providers.tsx
  apps/docs/package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(docs): add NEXT_PUBLIC_POSTHOG_* support for analytics
  .env.example
  .github/workflows/images.yml
  Dockerfile
  docker-compose.prod.yml
  turbo.json
Due: pnpm prettier --write

feat(env): add example API keys for services
  apps/api/.env.example
  apps/gateway/.env.example
Due: none

chore: add posthog to docs (#294)
  .env.example
  .github/workflows/images.yml
  Dockerfile
  apps/docs/.env.example
  apps/docs/app/layout.tsx
  apps/docs/lib/providers.tsx
  apps/docs/package.json
  docker-compose.prod.yml
  pnpm-lock.yaml
  turbo.json
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(models): add new Claude and Gemini model definitions
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(models): adapt model prices
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add contextSize to model definitions
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): display context size in UI for models
  apps/ui/src/components/models/models-list.tsx
  apps/ui/src/lib/utils.ts
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): display context size in UI for models
  apps/ui/src/components/models/models-list.tsx
  apps/ui/src/lib/utils.ts
  apps/ui/src/routes/models.tsx
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): display context size in UI for models (#297)
  apps/ui/src/components/models/models-list.tsx
  apps/ui/src/lib/utils.ts
  apps/ui/src/routes/models.tsx
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): integrate OpenAI and add chat route
  .cursor/rules/package-manager.mdc
  apps/api/package.json
  apps/api/src/routes/chat.ts
  apps/api/src/routes/index.ts
  apps/ui/package.json
  apps/ui/src/components/Chat.tsx
  apps/ui/src/components/playground/chat-header.tsx
  apps/ui/src/components/playground/chat-history.tsx
  apps/ui/src/components/playground/chat-ui.tsx
  apps/ui/src/components/playground/model-selector.tsx
  apps/ui/src/components/playground/sidebar.tsx
  apps/ui/src/components/ui/button.tsx
  apps/ui/src/components/ui/card.tsx
  apps/ui/src/components/ui/input.tsx
  apps/ui/src/components/ui/scroll-area.tsx
  apps/ui/src/lib/components/scroll-area.tsx
  apps/ui/src/lib/components/textarea.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/__root.tsx
  apps/ui/src/routes/chat.tsx
  apps/ui/src/routes/playground.tsx
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

Path conditions:
  pnpm sort-package-json: any of: package.json
  pnpm eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json,yml,yaml})
