Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix(infra): add supervisor log redirection for all services
  apps/gateway/src/chat/chat.ts
  infra/supervisord.conf
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): update paid mode check in provider key step
  apps/ui/src/components/onboarding/provider-key-step.tsx
Due: pnpm eslint --fix, pnpm prettier --write

docs(infra): remove Docker deployment documentation
  apps/docs/content/self-host.mdx
  infra/DOCKER_DEPLOYMENT.md
Due: pnpm prettier --write

ci(workflows): merge unified workflow into images.yml
  .github/workflows/images.yml
  .github/workflows/unified.yml
Due: pnpm prettier --write

fix(ui): update paid mode validation in multiple steps
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/provider-key-step.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): replace paidModeEnabled with HOSTED check
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/provider-key-step.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/components/settings/project-mode-settings.tsx
  apps/ui/src/lib/env.ts
Due: pnpm eslint --fix, pnpm prettier --write

docs(agents): update guidelines for OpenAPI schema generation
  AGENTS.md
Due: pnpm prettier --write

feat(ui): reuse provider select in onboarding
  apps/ui/src/components/onboarding/provider-key-step.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/components/provider-keys/provider-select.tsx
Due: pnpm eslint --fix, pnpm prettier --write

docs(agents): update commit message guidelines
  AGENTS.md
Due: pnpm prettier --write

docs(agents): remove outdated setup instructions
  AGENTS.md
Due: pnpm prettier --write

Update apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/credits-step.tsx
Due: pnpm eslint --fix, pnpm prettier --write

docs(agents): update testing guidelines in AGENTS.md
  AGENTS.md
Due: pnpm prettier --write

fix(infra): update Redis permissions and Supervisor config
  infra/supervisord.conf
  infra/unified.dockerfile
Due: none

fix(docs): update data directory path in self-host guide
  apps/docs/content/self-host.mdx
Due: pnpm prettier --write

fix(infra): update dockerfile paths in prod config
  infra/docker-compose.prod.yml
Due: pnpm prettier --write

fix(infra): correct nginx conf path in split dockerfile
  infra/split.dockerfile
Due: none

fix(ui): update default API_URL fallback to localhost
  apps/ui/src/lib/env.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(infra): add Turbo cache directories in Dockerfile
  infra/split.dockerfile
Due: none

fix(infra): add RUN_MIGRATIONS env in prod config
  infra/docker-compose.prod.yml
Due: pnpm prettier --write

fix(infra): copy migrations to API image
  infra/split.dockerfile
Due: none

feat(infra): unified docker and ci, self-host docs, auto migrate (#334)
  .env.unified.example
  .github/copilot-instructions.md
  .github/workflows/images.yml
  .gitignore
  apps/api/.env.example
  apps/api/src/routes/keys-provider.ts
  apps/api/src/routes/organization.ts
  apps/api/src/serve.ts
  apps/docs/content/self-host.mdx
  apps/gateway/src/chat/chat.ts
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/provider-key-step.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/components/settings/project-mode-settings.tsx
  apps/ui/src/lib/api/v1.d.ts
  apps/ui/src/lib/env.ts
  infra/docker-compose.prod.yml
  infra/docker-compose.unified.yml
  infra/nginx-unified.conf
  infra/split.dockerfile
  infra/start.sh
  infra/supervisord.conf
  infra/unified.dockerfile
  packages/auth/src/auth.ts
  packages/db/src/index.ts
  packages/db/src/migrate.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): centralize provider logos in reusable component
  apps/ui/src/components/provider-keys/provider-keys-list.tsx
  apps/ui/src/components/provider-keys/provider-logo.ts
  apps/ui/src/components/provider-keys/provider-select.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): exclude unsupported provider in select dropdown
  apps/ui/src/components/onboarding/provider-key-step.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): reuse provider dropdown in onboarding (#354)
  apps/ui/src/components/onboarding/provider-key-step.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/components/provider-keys/provider-keys-list.tsx
  apps/ui/src/components/provider-keys/provider-logo.ts
  apps/ui/src/components/provider-keys/provider-select.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(infra): specify dockerfile path in build-push action
  .github/workflows/images.yml
Due: pnpm prettier --write

docs(agents): update test command in guidelines
  AGENTS.md
Due: pnpm prettier --write

ci(workflows): add split and unified docker workflows
  .github/workflows/images.yml
Due: pnpm prettier --write

ci(workflows): add multi-platform support for Docker builds
  .github/workflows/images.yml
Due: pnpm prettier --write

ci(infra): add new environment variables to turbo config
  turbo.json
Due: pnpm prettier --write

feat(ui): add upgrade button for provider keys
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

ci(infra): add multi-arch support to unified dockerfile
  infra/unified.dockerfile
Due: none

ci(infra): add multi-arch logic in split dockerfile
  infra/split.dockerfile
Due: none

fix(auth): update API_URL default for local development
  packages/auth/src/auth.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: format
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): add upgrade button for provider keys (#356)
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): use provider id slug
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/providers/$id.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(ui): adapt provider slug generation (#357)
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/providers/$id.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(api): remove obsolete paidModeEnabled
  apps/api/src/routes/organization.ts
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore(api): remove paidModeEnabled flag
  apps/api/src/routes/organization.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(infra): disable Redis persistence for consistency
  infra/supervisord.conf
Due: none

Path conditions:
  pnpm sort-package-json: any of: package.json
  pnpm eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json,yml,yaml})
