Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
	"package.json": "pnpm sort-package-json",
	"**/*.{js,jsx,ts,tsx}": ["pnpm eslint --fix", "pnpm prettier --write"],
	"**/*.{md,mdx,json,yml,yaml}": ["pnpm prettier --write"]
}

chore: migrations
  packages/db/migrations/1747921176_empty_spectrum.sql
  packages/db/migrations/meta/1747921176_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

feat(dashboard): add organization credits display
  apps/ui/src/hooks/useOrganization.ts
  apps/ui/src/routes/dashboard/_layout/index.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(credits): auto-refresh and sync on payment success
  apps/api/src/routes/payments.ts
  apps/api/src/stripe.ts
  apps/ui/src/components/credits/hooks/useTopUpCredits.ts
  apps/ui/src/components/credits/hooks/useTopUpCreditsWithSavedMethod.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(credits): update credits type to decimal string
  apps/api/src/routes/organization.ts
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/index.ts
  apps/ui/src/routes/dashboard/_layout/index.tsx
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

Revert "fix: address PR feedback and fix failing tests"
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: ref stripe
  apps/api/package.json
  apps/ui/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm prettier --write

chore: fix
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): remove unused provider switch and disable test cache
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/cache.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: migrations
  .prettierignore
  packages/db/migrations/1747927048_flimsy_black_tom.sql
  packages/db/migrations/meta/1747927048_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

feat: implement hybrid project mode with api-keys and credits fallback
  apps/gateway/src/chat/chat.ts
  apps/ui/src/components/settings/project-mode-settings.tsx
  apps/ui/src/hooks/useProject.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): resolve incorrect handling of finishReason value
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(chat): resolve incorrect handling of finishReason value (#170)
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: update API routes to include hybrid mode in type definitions
  apps/api/src/routes/organization.ts
  apps/api/src/routes/projects.ts
Due: pnpm eslint --fix, pnpm prettier --write

test: add e2e tests for streaming responses
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor: extract duplicated provider token code
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(worker): correct project mode condition check
  apps/gateway/src/worker.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(test-utils): ensure logs are processed during wait
  apps/gateway/src/test-utils/test-helpers.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add mode column to log table
  apps/gateway/src/chat/chat.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add generated migration files
  packages/db/migrations/1747930278_premium_psynapse.sql
  packages/db/migrations/meta/1747930278_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

feat: implement unified finish reason enum in log table
  apps/gateway/src/lib/logs.ts
  apps/ui/src/lib/types.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: add migration files for unified finish reason
  packages/db/migrations/1747930961_fine_typhoid_mary.sql
  packages/db/migrations/meta/1747930961_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

feat: add mode field to activity log UI
  apps/ui/src/components/dashboard/log-card.tsx
  apps/ui/src/lib/types.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: tests
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/test-utils/worker-utils.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add usedMode column to log table
  apps/gateway/src/chat/chat.ts
  apps/ui/src/components/dashboard/log-card.tsx
  apps/ui/src/lib/types.ts
  packages/db/migrations/1747945267_boring_tenebrous.sql
  packages/db/migrations/meta/1747945267_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: display unified finish reason in activity log Badge and details view
  apps/ui/src/components/dashboard/log-card.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(chat): unify usage of determineUsedMode function
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/logs.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(chat): unify usage of determineUsedMode function (#174)
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/logs.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: add healthcheck with redis ping and db connectivity check
  apps/api/package.json
  apps/api/src/api.spec.ts
  apps/api/src/index.ts
  apps/api/src/lib/redis.ts
  apps/gateway/src/api.spec.ts
  apps/gateway/src/index.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix: add generated openapi.json to fix CI
  apps/gateway/openapi.json
Due: pnpm prettier --write

feat: add openapi generation script for API service
  apps/api/package.json
  apps/api/src/scripts/generate-openapi.ts
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(api): remove Redis integration
  apps/api/package.json
  apps/api/src/api.spec.ts
  apps/api/src/index.ts
  apps/api/src/lib/redis.ts
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

fix: freeze
  .github/workflows/run.yml
Due: pnpm prettier --write

test: verify Anthropic finish reason in e2e tests
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: handle Anthropic end_turn finish reason
  apps/gateway/src/chat/chat.ts
  apps/gateway/src/lib/logs.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor: remove defaults from log schema non-metadata fields
  apps/api/src/routes/activity.spec.ts
  apps/api/src/routes/logs.spec.ts
  apps/gateway/src/worker.ts
  packages/db/logs.ts
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: add usedMode to insertLog calls and fix type in logs.spec.ts
  apps/api/src/routes/logs.spec.ts
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: configure codegen and add loading for settings page
  apps/api/src/scripts/generate-openapi.ts
  apps/ui/package.json
  apps/ui/src/components/api-keys/api-keys-list.tsx
  apps/ui/src/components/api-keys/create-api-key-dialog.tsx
  apps/ui/src/components/api-keys/hooks/useApiKeys.ts
  apps/ui/src/components/settings/loading-settings.tsx
  apps/ui/src/lib/api/v1.d.ts
  apps/ui/src/lib/fetch-client.ts
  apps/ui/src/router.tsx
  apps/ui/src/routes/dashboard/_layout.tsx
  apps/ui/src/routes/dashboard/_layout/settings.tsx
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

chore: fix generations
  apps/api/package.json
  apps/ui/package.json
  apps/ui/src/lib/api/v1.d.ts
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write
