Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

test: add unit test to prevent duplicate model IDs
  packages/models/src/models.spec.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add DeepSeek-R1 model configuration
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(comparison): update OpenRouter pricing details and remove outdated feature categories
  apps/ui/src/components/landing/comparison.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(comparison): update OpenRouter pricing details and remove outdated feature categories (#343)
  apps/ui/src/components/landing/comparison.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(ci): add MISTRAL_API_KEY to workflow secrets
  .github/workflows/run.yml
Due: pnpm prettier --write

fix(models): set jsonOutput to false for configurations
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(pricing): clarify pricing details for Free and Pro plans in comparison and FAQ sections
  apps/ui/src/components/landing/comparison.tsx
  apps/ui/src/components/landing/faq.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): conditional model tests in e2e
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(pricing): clarify pricing details for Free and Pro plans in compa… (#344)
  apps/ui/src/components/landing/comparison.tsx
  apps/ui/src/components/landing/faq.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): conditional model tests in e2e (#345)
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): introduce ModelsSupported component for displaying AI providers and models
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/routes/dashboard/_layout/models.tsx
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): introduce ModelsSupported unified component (#346)
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/routes/dashboard/_layout/models.tsx
  apps/ui/src/routes/models.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add CloudRift and Mistral SVG assets
  apps/ui/src/assets/models/cloudrift.svg
  apps/ui/src/assets/models/mistral.svg
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add CloudRift and Mistral SVG assets (#347)
  apps/ui/src/assets/models/cloudrift.svg
  apps/ui/src/assets/models/mistral.svg
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore(eslint): disable no-console rule in ESLint configuration
  eslint.config.mjs
Due: none

chore(pr_description): remove outdated auto top-up credits feature documentation
  pr_description.md
Due: pnpm prettier --write

refactor(dashboard): simplify settings active check and enhance user avatar display
  apps/ui/src/components/dashboard/dashboard-sidebar.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(dashboard): simplify settings active check and enhance user avatar display (#348)
  apps/ui/src/components/dashboard/dashboard-sidebar.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): make streaming a required property
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(models): add streaming support and utility function (#338)
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/chat/chat.ts
  apps/ui/src/routes/playground.tsx
  packages/models/src/helpers.ts
  packages/models/src/index.ts
  packages/models/src/models.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(billing): add navigate dependency to useEffect for proper navigation handling
  apps/ui/src/routes/dashboard/_layout/settings/billing.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(rules): update rules for agent and package manager
  .cursor/rules/general.mdc
  .cursor/rules/package-manager.mdc
Due: none

feat(subscriptions): add default payment method support
  apps/api/src/routes/subscriptions.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(models): update models URL for correct linking
  apps/ui/src/components/models-supported.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(gateway): refine error logging for HTTP exceptions
  apps/gateway/src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): add health check endpoint
  apps/docs/content/(api)/health.mdx
  apps/gateway/src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(api): add health check endpoint (#351)
  apps/docs/content/(api)/health.mdx
  apps/gateway/src/index.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(providers): enhance provider routing and UI components
  apps/docs/app/docs-og/[...slug]/route.tsx
  apps/docs/app/layout.config.tsx
  apps/ui/src/assets/hero-light.png
  apps/ui/src/assets/hero.png
  apps/ui/src/assets/new-hero-light.png
  apps/ui/src/assets/new-hero.png
  apps/ui/src/components/activity/recent-logs.tsx
  apps/ui/src/components/dashboard/dashboard-sidebar.tsx
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/components/providers/hero.tsx
  apps/ui/src/components/ui/badge.tsx
  apps/ui/src/lib/icons/Logo.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/__root.tsx
  apps/ui/src/routes/providers/$name.tsx
  apps/ui/static/favicon/android-chrome-192x192.png
  apps/ui/static/favicon/android-chrome-512x512.png
  apps/ui/static/favicon/apple-touch-icon.png
  apps/ui/static/favicon/favicon-16x16.png
  apps/ui/static/favicon/favicon-32x32.png
  apps/ui/static/favicon/favicon.ico
  apps/ui/static/favicon/site.webmanifest
  apps/ui/static/opengraph.png
  packages/models/src/providers.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

chore: run lint fix
  apps/ui/static/favicon/site.webmanifest
Due: none

feat(provider): add announcement feature to providers
  apps/ui/src/components/providers/hero.tsx
  packages/models/src/providers.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(providers): enhance provider routing and UI components (#352)
  apps/docs/app/docs-og/[...slug]/route.tsx
  apps/docs/app/layout.config.tsx
  apps/ui/src/assets/hero-light.png
  apps/ui/src/assets/hero.png
  apps/ui/src/assets/new-hero-light.png
  apps/ui/src/assets/new-hero.png
  apps/ui/src/components/activity/recent-logs.tsx
  apps/ui/src/components/dashboard/dashboard-sidebar.tsx
  apps/ui/src/components/landing/footer.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/models-supported.tsx
  apps/ui/src/components/providers/hero.tsx
  apps/ui/src/components/ui/badge.tsx
  apps/ui/src/lib/icons/Logo.tsx
  apps/ui/src/routeTree.gen.ts
  apps/ui/src/routes/__root.tsx
  apps/ui/src/routes/providers/$name.tsx
  apps/ui/static/favicon/android-chrome-192x192.png
  apps/ui/static/favicon/android-chrome-512x512.png
  apps/ui/static/favicon/apple-touch-icon.png
  apps/ui/static/favicon/favicon-16x16.png
  apps/ui/static/favicon/favicon-32x32.png
  apps/ui/static/favicon/favicon.ico
  apps/ui/static/opengraph.png
  packages/models/src/providers.ts
  pnpm-lock.yaml
Due: pnpm eslint --fix, pnpm prettier --write

fix: cloudrift link
  packages/models/src/providers.ts
Due: pnpm eslint --fix, pnpm prettier --write

docs(agents): add AGENTS.md with setup and usage guidelines
  AGENTS.md
Due: pnpm prettier --write

feat(ui): add AuthLink for dynamic redirecting in CTAs
  apps/ui/src/components/compare/hero-compare.tsx
  apps/ui/src/components/landing/comparison.tsx
  apps/ui/src/components/landing/cta.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/providers/hero.tsx
  apps/ui/src/components/shared/auth-link.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat(ui): add AuthLink for dynamic redirecting in CTAs (#353)
  apps/ui/src/components/compare/hero-compare.tsx
  apps/ui/src/components/landing/comparison.tsx
  apps/ui/src/components/landing/cta.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/providers/hero.tsx
  apps/ui/src/components/shared/auth-link.tsx
Due: pnpm eslint --fix, pnpm prettier --write

docs(self-host): update docker compose file paths
  apps/docs/content/self-host.mdx
Due: pnpm prettier --write

docs(self-host): revise guide for unified Docker usage
  .github/workflows/unified.yml
  .gitignore
  apps/docs/content/self-host.mdx
Due: pnpm prettier --write

fix(auth): set project mode based on hosting environment
  packages/auth/src/auth.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(infra): add VITE_HOSTED ARG to Dockerfile
  infra/unified.dockerfile
Due: none

fix(infra): remove supervisor log file configurations
  infra/supervisord.conf
Due: none

Path conditions:
  pnpm sort-package-json: any of: package.json
  pnpm eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json,yml,yaml})
