Repository theopenco/openllm: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

.lintstagedrc.json:

{
	"package.json": "pnpm sort-package-json",
	"**/*.{js,jsx,ts,tsx}": ["pnpm eslint --fix", "pnpm prettier --write"],
	"**/*.{md,mdx,json,yml,yaml}": ["pnpm prettier --write"]
}

fix(schema): remove invalid default function for requestId
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(tests): create env-prefixed provider keys for credits mode tests
  apps/gateway/src/api.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: remove
  packages/db/migrations/1748438321_provider_keys_org_level.sql
Due: none

fix(logs): add requestId and update token types to strings
  packages/db/logs.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat(db): rename provider_key project_id to organization_id
  packages/db/migrations/1748526023_supreme_valkyrie.sql
  packages/db/migrations/meta/1748526023_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

chore: generate
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

test(logs): add requestId to test log entries
  apps/api/src/routes/activity.spec.ts
  apps/api/src/routes/logs.spec.ts
Due: pnpm eslint --fix, pnpm prettier --write

Revert "fix: filter out failing Claude model tests in e2e"
  apps/gateway/src/api.e2e.ts
  vitest/vitest.e2e.config.mts
Due: pnpm eslint --fix, pnpm prettier --write

feat: require organizationId in provider key creation payload
  apps/api/src/routes/keys-provider.ts
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix: stuff
  apps/ui/src/lib/components/stepper.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(tests): process logs before cleanup to prevent foreign key violations
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/api.spec.ts
Due: pnpm eslint --fix, pnpm prettier --write

test: add organizationId to provider key tests
  apps/api/src/routes/keys-provider.spec.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: update OpenAPI types with organizationId field
  apps/ui/src/lib/api/v1.d.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(tests): call flushLogs before deleteAll to prevent foreign key violations
  apps/api/src/testing.ts
Due: pnpm eslint --fix, pnpm prettier --write

test: add organizationId to e2e test payloads
  apps/api/src/routes/keys-provider.e2e.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(seed): add missing provider keys referenced by logs
  packages/db/seed.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(chat): remove redundant console logging
  apps/gateway/src/chat/chat.ts
Due: pnpm eslint --fix, pnpm prettier --write

feat: new landing page
  apps/ui/package.json
  apps/ui/src/assets/hero-light.png
  apps/ui/src/assets/hero.png
  apps/ui/src/components/landing/animated-beam.tsx
  apps/ui/src/components/landing/animated-group.tsx
  apps/ui/src/components/landing/code-example.tsx
  apps/ui/src/components/landing/features.tsx
  apps/ui/src/components/landing/github-stars.tsx
  apps/ui/src/components/landing/glowing-effect.tsx
  apps/ui/src/components/landing/graph.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/landing/theme-toggle.tsx
  apps/ui/src/lib/components/tooltip.tsx
  apps/ui/src/lib/env.ts
  apps/ui/src/routes/index.tsx
  apps/ui/static/opengraph.png
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat: new landing page (#254)
  apps/ui/package.json
  apps/ui/src/assets/hero-light.png
  apps/ui/src/assets/hero.png
  apps/ui/src/components/landing/animated-beam.tsx
  apps/ui/src/components/landing/animated-group.tsx
  apps/ui/src/components/landing/code-example.tsx
  apps/ui/src/components/landing/features.tsx
  apps/ui/src/components/landing/github-stars.tsx
  apps/ui/src/components/landing/glowing-effect.tsx
  apps/ui/src/components/landing/graph.tsx
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/components/landing/navbar.tsx
  apps/ui/src/components/landing/theme-toggle.tsx
  apps/ui/src/lib/components/tooltip.tsx
  apps/ui/src/lib/env.ts
  apps/ui/src/routes/index.tsx
  apps/ui/static/opengraph.png
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

feat(onboarding): add organization ID to provider key step
  apps/ui/src/components/onboarding/provider-key-step.tsx
Due: pnpm eslint --fix, pnpm prettier --write

fix(onboarding): improve error handling in provider key step
  apps/ui/src/components/onboarding/provider-key-step.tsx
Due: pnpm eslint --fix, pnpm prettier --write

test: fix
  apps/gateway/src/api.spec.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: remove
  packages/db/migrations/1748523086_dry_pretty_boy.sql
  packages/db/migrations/1748534908_aromatic_spiral.sql
  packages/db/migrations/meta/1748523086_snapshot.json
  packages/db/migrations/meta/1748534908_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

chore: remove
  packages/db/cleanup.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix(schema): correct foreign key references in schema
  packages/db/src/schema.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: seed
  packages/db/seed.ts
Due: pnpm eslint --fix, pnpm prettier --write

chore: migrations
  packages/db/migrations/1748536163_clever_timeslip.sql
  packages/db/migrations/meta/1748536163_snapshot.json
  packages/db/migrations/meta/_journal.json
Due: pnpm prettier --write

chore: flush
  apps/gateway/src/test-utils/test-helpers.ts
Due: pnpm eslint --fix, pnpm prettier --write

refactor(testing): replace flushLogs with clearCache
  apps/api/src/testing.ts
  apps/gateway/src/api.e2e.ts
  apps/gateway/src/api.spec.ts
  apps/gateway/src/test-utils/test-helpers.ts
Due: pnpm eslint --fix, pnpm prettier --write

fix: set staletime 0
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/router.tsx
Due: pnpm eslint --fix, pnpm prettier --write

refactor(infra): simplify nginx static config
  infra/nginx-static.conf
Due: none

fix: set staletime 0 (#257)
  apps/ui/src/components/landing/hero.tsx
  apps/ui/src/router.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore: added posthog
  apps/ui/package.json
  apps/ui/src/hooks/useUser.ts
  apps/ui/src/lib/env.ts
  apps/ui/src/routes/__root.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

chore: disable debug
  apps/ui/src/routes/__root.tsx
Due: pnpm eslint --fix, pnpm prettier --write

chore: add posthog (#258)
  apps/ui/package.json
  apps/ui/src/hooks/useUser.ts
  apps/ui/src/lib/env.ts
  apps/ui/src/routes/__root.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
  pnpm-lock.yaml
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write

ci: update workflows and Dockerfile for PostHog support
  .github/workflows/images.yml
  Dockerfile
Due: pnpm prettier --write

chore(config): update turbo.json with new env variables
  turbo.json
Due: pnpm prettier --write

ci: update secrets references in workflow file
  .github/workflows/images.yml
  .gitignore
Due: pnpm prettier --write

feat: add posthog custom events for analytics tracking
  apps/ui/src/components/api-keys/create-api-key-dialog.tsx
  apps/ui/src/components/provider-keys/create-provider-key-dialog.tsx
  apps/ui/src/routes/dashboard/_layout.tsx
  apps/ui/src/routes/login.tsx
  apps/ui/src/routes/signup.tsx
Due: pnpm eslint --fix, pnpm prettier --write

feat: add posthog custom events for analytics tracking
  apps/api/package.json
  apps/ui/src/components/onboarding/credits-step.tsx
  apps/ui/src/components/onboarding/onboarding-wizard.tsx
Due: pnpm sort-package-json, pnpm eslint --fix, pnpm prettier --write
